*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background-dark: hsl(221, 39%, 11%);
  --play-area: hsl(209, 26%, 34%);
  --font-color-light: hsl(0, 100%, 100%);
  --font-color-light-alpha: hsl(0, 100%, 100%, 0.4);
  --marker-color: hsl(9, 87%, 54%);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--background-dark);
  color: var(--font-color-light);
}
header {
  display: grid;
  grid-template: 1fr / 0.2fr 1fr 0.2fr;
  margin-top: 20px;
}
header > button {
  width: fit-content;
  min-width: 120px;
  height: 3rem;
  justify-self: center;
  align-self: center;
  background-color: var(--font-color-light);
  border: none;
  border-radius: 50px;
  font-weight: 700;
  padding: 5px;
}
.title {
  text-align: center;
  align-self: center;
  padding: 10px;
  font-size: 1.62rem;
  /* text-wrap: balance; */
}
.message-container {
  display: block;
  padding: 10px;
  font-size: 15px;
  font-size: 35px;
  font-weight: 700;
  border: 10px solid var(--marker-color);
  grid-column: span 2;
  text-align: center;
  border-radius: 10px;
}
.playArea {
  background-color: var(--play-area);
  display: none;
  margin: 50px auto;
  justify-content: center;
  grid-template-areas: 0.1fr 1fr/ 1fr;
  gap: 20px;
  max-width: fit-content;
  padding: 20px;
  border: 10px solid var(--marker-color);
  border-radius: 10px;
}

.gameboard {
  display: grid;
  /* visibility: hidden; */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-area: 2/1/3/2;
  min-width: fit-content;
 
  width: 23rem;
  height: 23rem;
  grid-column: span 2;
  justify-self: center;
}
/* .position {
  border: 5px solid var(--font-color-light);
  font-size: 100px;
  min-width: 50px;
  min-height: 50px;
  font-size: 50px;
} */
.square {
  display: flex;
  border: 5px solid var(--font-color-light);
  font-size: 4rem;
  min-width: 50px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}
/* .square:hover {
  content: "âŒ";
} */
.inner-position {
  border: 2px solid var(--font-color-light);
}
.inner-gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: fit-content;
  padding: 20px;
  justify-self: center;
}

#square-0,
#square-1,
#square-2 {
  border-top: none;
}
#square-2,
#square-5,
#square-8 {
  border-right: none;
}
#square-6,
#square-7,
#square-8 {
  border-bottom: none;
}
#square-0,
#square-3,
#square-6 {
  border-left: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--font-color-light-alpha);
}
.modal-container {
  min-height: 100px;
  background-color: var(--background-dark);
  margin: 10rem auto;
  max-width: 20rem;
  border-radius: 10px;
  padding: 20px;
}
.modal-form {
  display: grid;
  grid-template-areas: repeat(4, 1fr) / 1fr 1fr;
  padding: 20px;
  height: 300px;
  gap: 5px;
  border: 5px solid red;
  border-radius: 10px;
}
.modal-form > * {
  padding: 5px;
}
.modal-form > label {
  font-size: 2rem;
  justify-self: end;
  align-self: center;
}
.modal-form > input {
  border: none;
  font-size: 2rem;
  max-width: 10rem;
  max-height: 3rem;
  align-self: center;
}
.modal-form > input::placeholder {
  font-size: 1rem;
}
.p1Label {
  grid-area: 1/1/2/2;
}
.p1NameInput {
  grid-area: 1/2/2/3;
}
.p2Label {
  grid-area: 2/1/3/2;
}
.p2NameInput {
  grid-area: 2/2/3/3;
}

.modalSubmitBtn {
  grid-area: 3/1/4/3;
  border: none;
  font-size: 20px;
  font-weight: 700;
}
.modalSubmitBtn:hover {
  background-color: var(--play-area);
  color: var(--font-color-light);
}
